.App{
    display:flex;
}

.Table{
    /* border: solid thin;
    padding: 1rem; */
}

.Table-Container{
    border: solid thin;
    padding: 1rem;
}


.Form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid thin;
    margin-left: 1rem;
    justify-content: space-between;
}

.Form label{
    display:flex;
    justify-content: space-between;
}


.Form .btn-bar{
    display:flex;
    justify-content: space-between;

}