.AF-Logo{
    height:4rem;
    width:4rem;
    fill:white;
    display:flex;
    margin-right:1rem;
}

.Form{
    display:flex;
    padding:1rem;
    flex-direction: column;
}

.hover-cell{
    cursor:pointer;
    user-select: none;
}

.hover-cell:hover{
    color:#3842ff;
    transition:.25s color
}

.asc,.desc{
    color:#3842ff !important;
    position:relative;
}

.asc::before{
    content:'▲';
    position:absolute;
    left:-.5rem;
}

.desc::before{
    content:'▼';
    position:absolute;
    left:-.5rem;
}

/* .User-Table-Row{
    transition:.25s background-color
} */

.User-Container{
    transition:.25s cubic-bezier(0.4, 0, 1, 1) opacity;
    animation: .25s fadein;
}

.User-Form{
    transition:.25s cubic-bezier(0.4, 0, 1, 1) opacity;
    animation: .25s fadein;
}

.fade-out{
    opacity:0;
}

@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opaicty:1
    }
}
